{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} Book List {% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <style media="screen">
      body{
       background-image: url("https://cdn159.picsart.com/223006422000202.jpg?r1024x1024") ;
       overflow-x: hidden;
       overflow-y: auto;
       width: 100%;
       background-size: cover;
       background-position: center;
       position: relative;
       font-family: "Lato", Helvetica, Arial;
       font-size: 16px;
       top: 0;
       bottom: 0;
       height: 100vh;
      }

      #aa{
       color: chocolate;
       margin-top: 80px;
       font-family: Harmattan;
       font-style: normal;
       font-weight: normal;
       line-height: normal;
       font-size: 48px;
       text-align: center;
      }

      .counter-container {
          font-family: 'Rasa', serif;
          font-size : 2rem;
          color : blue;
          text-align: center;
      }

      @import url('https://fonts.googleapis.com/css?family=Rasa');
      .clicked {
          color: blue !important;
      }

      th{
        font-size: 22px;
      }

      a{
        font-size: 22px;
      }

      .btn-2 {
          letter-spacing: 0;
      }

      .btn-2:hover,
      .btn-2:active {
        letter-spacing: 5px;
      }

      .btn-2:after,
      .btn-2:before {
        backface-visibility: hidden;
        border: 1px solid rgba(#fff, 0);
        bottom: 0px;
        content: " ";
        display: block;
        margin: 0 auto;
        position: relative;
        transition: all 280ms ease-in-out;
        width: 0;
      }

      .btn-2:hover:after,
      .btn-2:hover:before {
        backface-visibility: hidden;
        border-color: #fff;
        transition: width 350ms ease-in-out;
        width: 70%;
      }

      .btn-2:hover:before {
        bottom: auto;
        top: 0;
        width: 70%;
      }

    </style>

    {% block extrahead %}
    {% endblock %}

    </head>
    <script type="text/javascript">
  // maksudnya yang diedit kode dibawah ini
  // kamu bingung? iya wait kode dibawah ini kirim ke line aku deh
    var counter=0;
    $(document).ready(function(){
      $.ajax({
        type : 'GET',
        url : '/api/',
        dataType : 'json',
        success : function(data){
          console.log(data)
          var output = '<tr>';
          for (var i=1; i<data.data.length; i++){
            output += '<th scope="row">' + i + '</th><td>'
            // output +=
            output += '<img src='+ data.data[i-1].poster + '>' + '</td><td>';
            output += data.data[i-1].title + '</td><td>';
            output += data.data[i-1].author + '</td><td>';
            output += data.data[i-1].publishDate + '</td><td>';
            output += '<button id="button" type="button" class="btn btn-outline-light"><i id="star"class ="fa fa-star"></i></button> </td></tr>'
          }
          $('tbody').append(output);
        }

      });

      $(document).on('click', '#star', function() {
        if( $(this).hasClass('clicked') ) {
            counter -=1;
            $(this).removeClass('clicked');
        }
        else {
            $(this).addClass('clicked');
            counter = counter+ 1;
        }
        $('.counters').html(counter);
      });
    });

  </script>
  <body>
    {%include 'navbar.html'%}

    <div class="container">
      <div class="row">
        <div class="col">
          <h2 id="aa">My Book List</h2>
          <div class="counter-container">
              <i class ="fa fa-star"></i>: <span class="counters">0</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col"><center>
          <a class="btn btn-2">Architecture</a>
          <a class="btn btn-2">Comic</a>
          <a class="btn btn-2">Quilting</a>
        </center></div>

      </div>
      <div class="centered">
        <table class="table">
          <thead>
            <tr>
              <th>No</th>
              <th>Poster</th>
              <th>Title</th>
              <th>Author</th>
              <th>Published Date</th>
              <th>Favorite</th>
            </tr>
          </thead>
          <tbody id='tbody'>
          </tbody>
        </table>
      </div>
    </div>

  </body>
</html>
