<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/story8.js' %}"></script>
    <script>
      $( function() {
        $( "#accordion" ).accordion({
          collapsible: true, heightStyle: "content"
        });
      } );
    </script>
  <title>Hello</title>
  </head>
  <body>
    <style media="screen">
      .split {
        height: 100%;
        width: 50%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 20px;
      }

      tbody{
        position: absolute;
      }

      /* Control the left side */
      .left {
        left: 0;
        background-color: #111;
      }

      /* Control the right side */
      .right {
        right: 0;
        background-color: red;
      }

      /* If you want the content centered horizontally and vertically */
      .centered {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
      }
      .h2{
        color: aqua;
      }

      .h3{
        color: white;
      }

      #overlay{
        display: none;
        position: fixed;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.8;
        z-index:1001;
      }

      #overlay-content{
        position: absolute;
        display: none;
        width: 360px;
        height: 90px;
        padding: 16px;
        border: 16px solid orange;
        background-color: white;
        z-index:1002;
      }

    </style>
    <div class="container">
      {%include 'navbar.html'%}
      <div class="row">
        <div class="col-xl-12" style="height: 300px;">
          <h3>Hello, Apa kabar?</h3>
        </div>
      </div>

      <div id="overlay">
        <div id="overlay-content">
          This will all vanish in 5 seconds ...
        </div>
      </div>

      <div class="split left" id="testt">
        <div class="centered">
          <div class="row">
            <form id="id" action="{% url 'mssg' %}" method="post" >
              {% csrf_token %}
              <div class="container">
                <div class="row">
                  <h2>ADD NEW MESSAGES</h2>
                    <br><br><br>
                  {{ form }}
                </div>
              </div>
              <br>
              <button type="submit" id="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
      <div class="split right">
        <div class="centered">
          <table class="table">
            <thead>
              <tr>
                <th>Your Messages</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              {% for i in table %}
              <tr>
                <td>{{i.messages}}</td>
                <td>{{i.waktu}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </table>
        </div>
      </div>
    </div>
  </body>
</html>
