{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{% static 'js/story8.js' %}"></script>
  <script>
    $( function() {
      $( "#accordion" ).accordion({
        collapsible: true, heightStyle: "content"
      });
    } );
  </script>

  <style media="screen">


    body{
     background-image: url("https://i.imgur.com/esYLx6b.jpg") ;
     overflow-x: hidden;
     overflow-y: auto;
     width: 100%;
     background-size: cover;
     background-position: center;
     position: relative;
     font-family: "Lato", Helvetica, Arial;
     font-size: 16px;
     top: 0;
     bottom: 0;
     height: 100vh;
    }

    .pict{
     position: relative;
     top: 40px;
    }

    #aa{
     color: white;
     margin-top: 80px;
     font-family: Harmattan;
     font-style: normal;
     font-weight: normal;
     line-height: normal;
     font-size: 48px;
     text-align: center;
    }

    .bb {
     background-color: #999966;
     color: #444;
     cursor: pointer;
     padding: 18px;
     width: 100%;
     text-align: left;
     border: none;
     outline: none;
     transition: 0.4s;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .accordions:hover {
       background-color: #ccc;
    }

    /* Style the accordion panel. Note: hidden by default */
    .panel {
       padding-top:8px;
       background-color: white;
       display: none;
       overflow: hidden;
    }
    
    #accordion{
     font-family: "Lato", Helvetica, Arial;
     font-size: 16px;
     background-color: #999966;
     margin-top: 5px;
     color: black;
    }

    #theme{
     background-color: #2e2e1f;
     color: white;
     cursor: pointer;
     padding: 10px;
    }

    .rounded-circle{
      border-radius: 180px;
    }

    #overlay{
    	display: none;
    	position: fixed;
    	top: 0%;
    	left: 0%;
    	width: 100%;
    	height: 100%;
    	background-color: black;
    	opacity: 0.8;
    	z-index:1001;
    }

    #overlay-content{
    	position: absolute;
    	display: none;
    	width: 360px;
    	height: 90px;
    	padding: 16px;
    	border: 16px solid orange;
    	background-color: white;
    	z-index:1002;
    }

    </style>

</head>

<body>

  {%include 'navbar.html'%}
  <div class="container">
    <div class="row" style="height:50px"></div>

    <div id="overlay">
      <div id="overlay-content">
        This will all vanish in 5 seconds ...
      </div>
    </div>

    <div class="row">
      <div class="col">
      <h1 id="aa">MY PROFILE</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="pict">
          <p><center><img src="https://i.imgur.com/TIpMxNy.jpg" height="200" weight="200" class="rounded-circle" data-toggle="tooltip" data-placement="top" title="This is me!"></img></center></p>
        </div>
      </div>
    </div>
    <div class="row">
      <button class="btn-primary rounded" id="theme">Change Theme</button>
    </div>
    <div class="row" style="height:50px"></div>
    <div id="accordion">
      <h3 class="bb">Today's Activities</h3>
        <div>
          <ul>
            <li>LAB PPW</li>
            <li>LAB SDA</li>
          </ul>
        </div>
      <h3 class="bb">Committee</h3>
      <div>
        <ul>
          <li>OH Fasilkom 2017</li>
          <li>CS League 2018</li>
          <li>COMPFEST X</li>
          <li>Universiadee UI 2018</li>
        </ul>
      </div>
      <h3 class="bb">Achievement</h3>
      <div>
        <ul>
          <li>None</li>
        </ul>
      </div>
    </div>
    <div class="row" style="height:50px"></div>
  </div>


</body>
</html>
