{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Curriculum Vitae</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>
    <script src="{% static 'js/story8.js' %}"></script>
  </head>

  <body>
    {%include 'navbar.html'%}
    <style>

     body{
      background-image: url("https://i.imgur.com/esYLx6b.jpg") ;
      width: 100%;
      background-size: cover;
      background-position: center;
      position: relative;
      font-family: "Lato", Helvetica, Arial;
	    font-size: 16px;
      top: 0;
      bottom: 0;
      height: 100vh;
    }

    .pict{
      position: relative;
      top: 40px;
    }

    h1{
      margin-top: 80px;
      font-family: Harmattan;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 48px;
      text-align: center;
      color: white;
    }

    .accordion {
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s;
    }

    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
    .active, .accordions:hover {
        background-color: #ccc;
    }

    /* Style the accordion panel. Note: hidden by default */
    .panel {
        padding-top:8px;
        background-color: white;
        display: none;
        overflow: hidden;
    }

    .lesgo{
      font-family: "Lato", Helvetica, Arial;
	    font-size: 16px;
      background-color: #999966;
      margin-top: 5px;
      color: black;
    }

    #theme{
      background-color: #2e2e1f;
      color: white;
      cursor: pointer;
      padding: 10px;
    }
    </style>

    <div class="container">
      <div class="row" style="height:10px"></div>
      <div class="row">
        <div class="col">
        <h1>MY PROFILE</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="pict">
            <p><center><img src="https://i.imgur.com/TIpMxNy.jpg" height="300" weight="300" class="rounded-circle" data-toggle="tooltip" data-placement="top" title="This is me!"></img></center></p>
          </div>
        </div>
      </div>
      <div class="row">
        <button class="btn-primary rounded" id="theme" onclick="$(theme)">Change Theme</button>
      </div>
      <div class="row" style="padding-top:50px">
        <div class="col">
          <!-- ini buat dropdown -->

          <button class="btn-primary rounded accordion lesgo" onclick="$(acc)">Today's Activities</button>
          <div class="panel">
            <ul>
              Lab PPW
            </ul><ul>
              Lab SDA
            </ul>
          </div>
          <button class="btn-primary rounded accordion lesgo" onclick="$(acc)">Committee</button>
          <div class="panel">
            <ul>
              OH Fasilkom 2017
            </ul><ul>
              CSLeague 2018
            </ul><ul>
              Compfest X
            </ul><ul>
              Universiade UI 2018
            </ul>
          </div>
          <button class="btn-primary rounded accordion lesgo" onclick="$(acc)">Achievements</button>
          <div class="panel">
            <ul>
              None
            </ul>
          </div>
        </div>
      </div>
      <div class="row" style="height:50px"></div>
    </div>
  </body>
</html>
