<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% load static %}
    </script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/story8.js' %}"></script>

    <title>Subscribe</title>
    <script type="text/javascript">

      $(document).ready(function(){
        // $("button[type='submit']").hide();
        // $('#name').bind('input', function(){
        //   var value = $(this).val() // get the current value of the input field.
        //   console.log(value);
        //   if(value.length!==""){
        //     varName = true;
        //     console.log("Name " + varName);
        //   }
        //   else{
        //     varName = false;
        //     console.log("Name " + varName);
        //   }
        // })
        //
        // $('#password').bind('input', function(){
        //   var value = $(this).val() // get the current value of the input field.
        //   console.log(value);
        //   if(value.length>7){
        //     varPass = true;
        //     console.log("pass " + varPass);
        //   }
        //   else{
        //     varPass = false;
        //     console.log("pas " + varPass);
        //   }
        // })



        $('#email').bind('input', function() {
            var value = $(this).val() // get the current value of the input field.
            console.log(value);
            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            $.ajax({
              method: 'POST',
              url: '/validation',
              headers: {
                "X-CSRFToken": csrftoken,
              },
              data: {
                email: $('#email').val(),
              },
              success: function(status){
                console.log(status);
                if(status.isExist===true ){
                  varEmail = false;
                  console.log("email " + varEmail);


                }
                else if ($('#name').val() !== '' && $('#password').val() !== ''){
                  varEmail = true;
                  console.log("Email " + varEmail);
                  $("button[type='submit']").show();
                  $('#submit').prop('disabled', false);
                  console.log('ahahahahahahahaha');
                }
              },
            })
        });

        $('#formz').submit(function(e){
          console.log("BB")
          console.log($('form').serialize());
          var csrftoken = $("[name=csrfmiddlewaretoken]").val();
          e.preventDefault();

          $.ajax({
            method:'POST',
            url: '/subs1',
            headers: {
              "X-CSRFToken": csrftoken,
            },
            data: {
              name: $('#name').val(),
              email: $('#email').val(),
              password: $('#password').val(),
            },
            success: function(status){
              console.log(status.status)
              if(status.status === true){
                console.log("YES")
                document.getElementById("name").value = "";
                document.getElementById("password").value = "";
                document.getElementById("email").value = "";
                $('#submit').prop('disabled', true);
                $('#alert').replaceWith("<div id='alert' class='alert alert-success' role='alert'>Anda terdaftar sebagai subscriber!</div>");
              }
              else {
                console.log("NO")
                $('#alert').replaceWith("<div id='alert' class='alert alert-danger' role='alert'>Email sudah terdaftar sebelumnya, silahkan menggunakan email lain</div>");
              }
            },
          });
        });
      });


    </script>

    <style media="screen">

        body{
         background-image: linear-gradient(to right, #B06660 , #D9A88F);
         overflow-x: hidden;
         overflow-y: auto;
         width: 100%;
         background-size: cover;
         background-position: center;
         position: relative;
         font-family: "Lato", Helvetica, Arial;
         font-size: 16px;
         top: 0;
         bottom: 0;
         height: 100vh;
        }

        h1{
          color: white;
          margin-top: 80px;
          font-family: Harmattan;
          font-style: normal;
          font-weight: normal;
          line-height: normal;
          font-size: 48px;
          text-align: center;
        }

        .longkap{
          height: 60px;
        }

        legend{
          font-size: 30px;
        }

        .atas{
          margin-top: 60px;
        }

        button{
          margin-left: 100px;
        }

    </style>
  </head>
  <body>
    {%include 'navbar.html'%}
    <div class="small-12 atas">
      <h1>Welcome Subscriber!</h1>
    </div>
    <section id="subscriberform">
      <div class="subs">
        <br><br>
        <div id="alert"></div>
        <form id="formz" method="POST">
          {% csrf_token %}
          <div class="container">
            <div class="row">
              {% for i in form %}
                {{ i.label_tag }}
                {{ i }}
              {% endfor %}
            </div>
            <br>
            <button type="submit" id="submit" class="btn btn-primary" disabled>Submit</button>
          </div>
        </form>
      </div>

    </section>
  </body>
</html>
